[submodule "microros_ws/src/micro_ros_setup"]
	path = microros_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = humble
[submodule "example_ws/src/px4_msgs"]
	path = example_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "example_ws/src/px4_ros_com"]
	path = example_ws/src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
[submodule "example_ws/src/px4-offboard"]
	path = example_ws/src/px4-offboard
	url = https://github.com/Jaeyoung-Lim/px4-offboard.git
[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
